extends layout

block content

  link(rel='stylesheet', href='stylesheets/literally.css')
  //- script(src='/js/jquery-1.11.1.min.js')
  script(src='/js/literallycanvas.jquery.js')

  //should take in whether or not there is a preset recipient or title (for cases where requests are made)

  div(class='container-fluid')
    form#addDrawing(name="sendImage",method="post",action="/draw/sendImage")
      div(class='row')
        div(class='col-xs-2')
          img(class="circular-med" src=user.picture) 
        div(class='col-xs-2') 
          h3 is drawing
        div(class='col-xs-8')
          if description
            input(class='form-control' type='text' id='title-text' name='description' value=description)
          else
            input(class='form-control' type='text' id='title-text' name='description' value='something' onclick="if (this.value == 'something') {this.value = '';}")
      
      div(class="row literally section")
        canvas

      div(class='row section')
        input(type='hidden' name='image')
      input(type='hidden' name='request' value=request)
      div(class='row section')
        p#noRecErr(style="visibility: hidden; color: red;") Please choose at least 1 recipient!
        div(id="send-to")
          input(type='hidden' name='sendTo')
      div(class='row section')
        button(type='submit' class='button btn-primary btn-lg btn-block' data-action="publish" value='Send')
          span(class='glyphicon glyphicon-send')

  != "<script type='text/javascript'>"
  != "var rcpnts = [];"
  each m in members
    if m._id != user._id
      != "console.log('found member');"
      != "var member_img = document.createElement('img');"
      != "member_img.src = '" + m.picture + "';"
      != "$(member_img).addClass('circular-small');"
      if rcpnt && m._id == rcpnt
        != "rcpnts.push('" + rcpnt + "');"
        != "member_img.style.opacity = 1;"
      != "$('#send-to').append(member_img);"
      != "member_img.onclick = function(){"
        != "if(this.style.opacity == 1){"
          != "this.style.opacity = .5;"
          != "rcpnts.splice(rcpnts.indexOf('"+ m._id +"'), 1);" 
        != "} else {"
          != "this.style.opacity = 1;"
          != "rcpnts.push('"+ m._id + "');"
        != "}"
        != "console.log(rcpnts);"
      != "};"
  != "</script>"


  script(type='text/javascript').
    var preloadedImg = new Image()
    preloadedImg.src = '#{img}'

    $('.literally').literallycanvas({imageURLPrefix: 'images/icons', watermarkImage: preloadedImg,
    onInit: function(lc) { 
      $('[data-action=publish]').click(function(e) {
        if (rcpnts.length){
          var img = lc.canvasForExport().toDataURL()
          $('#addDrawing').find('input[name=image]').val( img )
          var rcpntsStr = rcpnts.toString();
          $('#addDrawing').find('input[name=sendTo]').val (rcpnts);
        } else {
          document.getElementById('noRecErr').style.visibility = "visible";
          e.preventDefault();        
        }
    })}})
  
      
      
      

