extends layout

block content
  link(rel='stylesheet', href='stylesheets/drawingboard.min.css')
  script(src='/js/jquery-1.11.1.min.js')
  script(src='/js/drawingboard.min.js')
  
  div(id="drawing-container")

  script(type='text/javascript').
    var myBoard = new DrawingBoard.Board('drawing-container')
    customBoard.addControl('Download')
