extends layout

block content
    h1= title
    form#formAddUser(name="adduser",method="post",action="/adduser")
        input#inputTitle(type="text", placeholder="title", name="title")
        input#inputDate(type="text", placeholder="date", name="date")
        input#inputUser(type="text", placeholder="user", name="user")
        input#inputSong(type="text", placeholder="song", name="song")
        input#inputImage(type="text", placeholder="image", name="image")
        button#btnSubmit(type="submit") submit