extends layout

block content
  if title == 'Request Status'
    if success
      h1 Your request has been sent!
      a(href="/requestDrawing" class="btn btn-lg btn-success") Request Another Drawing!
    else
      h1 :( Your request has failed.
      h4.error #{err}
      a(href="/requestDrawing" class="btn btn-lg btn-danger") Try Again
  else
    .container.fluid
      form(id="requestForm" method="post" action="/requestDrawing/postRequest")
      .row
        .col-xs-12
          h2 Ask
          #requestFrom.section
          h3 to draw you
      .row
        .col-xs-11
          input(type='hidden' name='recipients')
          input(type='text' class='form-control' name='description' value='something' onclick="if (this.value == 'something') {this.value = '';}")
        .col-xs-1
          button(type='submit' class='btn btn-default btn-sm' data-action='sendReq')
            span.glyphicon.glyphicon-arrow-right

    != "<script type='text/javascript'>"
    != "var rcpnts = [];"
    each m in members
      if m._id != user._id
        != "console.log('found member');"
        != "var member_img = document.createElement('img');"
        != "member_img.src = '" + m.picture + "';"
        != "$(member_img).addClass('circular-small');"
        if rcpnt && m._id == rcpnt
          != "rcpnts.push('" + rcpnt + "');"
          != "member_img.style.opacity = 1;"
        != "$('#requestFrom').append(member_img);"
        != "member_img.onclick = function(){"
          != "if(this.style.opacity == 1){"
            != "this.style.opacity = .5;"
            != "rcpnts.splice(rcpnts.indexOf('"+ m._id +"'), 1);" 
          != "} else {"
            != "this.style.opacity = 1;"
            != "rcpnts.push('"+ m._id + "');"
          != "}"
          != "console.log(rcpnts);"
        != "};"
    != "</script>"

    script.
      $('[data-action=sendReq]').click(function(e) {
        console.log(rcpnts)
        $('#requestForm').find('input[name=recipients]').val (rcpnts)
      });