extends layout

block content
  h1= title
  form(action="/draw")
    input(class="menu_button" type="submit" value="Draw")
  form(action="/draw")
    input(class="menu_button" type="submit" value="Request")
  div(id="requests-div")
  p Recently Drawn Images

  //.container
  //  if drawings.length
  //    each drawing in drawings
  //      .drawing-box
  //        img(src=drawing.image)
  //        .subheading
  //          span.bold
  //            = drawing.title
  //          = " posted by: " + drawing.user

  //  else 
  //    p No drawings found