body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
#drawing-container {
  height: 450px;
  margin-bottom: 10px;
}
.literally{
  width: 80%;
  height: 465px;
  border: 1px solid #000;
  float: left;
  margin-right: 50px;
}

.circular-med {
  display: inline-block;
  width: 75px;
  height: 75px;
  border-radius: 36.5px;
  -webkit-border-radius: 36.5px;
  -moz-border-radius: 36.5px;
  overflow: hidden;
}

.circular-small{
  width: 60px;
  -khtml-opacity: .5;
  opacity: .5;
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 30;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  overflow: hidden;
}

.recpPicker{
  padding: 0;
  float: right;
  width: 22%;
}
.circular IMG {
  width: 75px;
}

.inlineText {
  display: inline;
}

.section {
  margin: 32px 0;
}

.btn + .btn {
  margin-left: 12px;
}

.profile-box {
  padding: 1em;
  height: 350px;
}

.profile-box .profile-box-inner {
  border: 1px solid #ccc;
  padding: 1.5em;
  height: 100%;
}

.profile-box.active .profile-box-inner {
  border: 1px solid #333;
  padding: 1.5em;
  height: 100%;
  background-color: #cec;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.profile-box-image {
  overflow: hidden;
  max-width: 100%;
  height: 200px;
}
.profile-box img {
  max-width: 100%;
}

.big-icon {
  height: 120px;
}

.med-icon {
  height: 65px;
}

.streamFeed {
  position: absolute;
}

#selfFeed{
  z-index: 2;
}

#everyoneFeed{
  z-index: 1;
}

.desc {
  color: blue;
}
.error {
  color: red;
}

.invis {
  visibility: hidden;
}

.drawing-box {
  border: 1px solid #ccc;
  padding: 5px;
  margin: 10px auto;
}

.fit-img {
  max-width: 90%;
}

.name-box {
  display: inline-block;

  margin-left: 10px;
}

#send-to {
  height: 395px;
}